/v1/__pycache__
*$py.class

.pytest_cache
/v1/.pytest_cache/*
/.vscode/*
/env/*
/venv/*

/v1/app.pyc
/v1/auth_decorator.pyc
/v1/test_app.pyc
/v1/models.pyc

/v1/config.pyc
/v1/__pycache__/
/v1/__init__.pyc
/__pycache__/*

/v1/tests/__pycache__/*
/v1/api/__pycache__/
/v1/api/__init__.pyc
/v1/api/endpoints/__pycache__/*
/v1/api/endpoints/__pycache__/views.cpython-35.pyc
/v1/tests/__pycache__/test_meals.cpython-35-PYTEST.pyc
/v1/tests/__pycache__/test_auth.cpython-35-PYTEST.pyc
/v1/tests/__pycache__/test_menu.cpython-35-PYTEST.pyc
/v1/tests/__pycache__/test_order.cpython-35-PYTEST.pyc

__pycache__/config.cpython-35.pyc
v1/api/__init__.pyc

migrations/versions/__pycache__/*
migrations/versions/__pycache__/ca2d7673c55c_.cpython-35.pyc
migrations/versions/__pycache__/447081da9629_.cpython-35.pyc