<!DOCTYPE HTML>

<html>

	<head>
		<title>BookAMeal</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../css/book_a_meal.css" />
	</head>

	<body>

		<!-- Wrapper -->
			<div id="app_wrapper">

				<!-- Header -->
					<header id="header">
						<div class="content">
							<div class="app_name header_item">
								<h1>Book A Meal</h1>
							</div>

							<div class="user_details header_item">
								<p class="header_item">Wasswa Derreck</p>
								<button class="header_item">Logout</button>
							</div>

						</div>
					</header>

				<!-- Main -->
					<div id="main_block">

						<div class="action_block">

							<button id="menu_of_the_day_button">Menu of the Day</button>
							<button id="order_history_button">Order History</button>

						</div>

						<div class="details_block">
							
							<div id="day_menu_block">

								<h3>Menu of the Day</h3>
								 
								<!-- MENU ITEMS -->
								<div>
									<input type="radio" id="item1" name="item1" class="meal_item">
									<p class="meal_item">Beef with Matooke</p>
								</div>

								<div>
									<input type="radio" id="item2" name="item2" class="meal_item">
									<p class="meal_item">Beef with Rice</p>
								</div>

								<div>
									<input type="radio" id="item3" name="item3" class="meal_item">
									<p class="meal_item">Fish with Kaloo</p>
								</div>


								<!-- BUTTON TO ORDER FOR SELECTED MENU ITEMS -->
								<div>
									<input type="button" value="Order" class="order_menu_item_button" />
								</div>

							</div>
							
							<div id="order_history_block" class="block_off_screen">

								<h3>My Order History</h3>

								<!-- ORDER ITEMS BY THE USER -->
								<div>
									<input type="radio" id="order1" name="order1" class="meal_item">
									<p class="meal_item">Beef with Matooke</p>
									<p class="meal_item">Date: 19/08/23</p>
									<button class="meal_item">Edit</button>
								</div>

								<div>
									<input type="radio" id="order2" name="order2" class="meal_item">
									<p class="meal_item">Beef with Rice</p>
									<p class="meal_item">Date: 19/08/23</p>
									<button class="meal_item">Edit</button>
								</div>

								<div>
									<input type="radio" id="order3" name="order3" class="meal_item">
									<p class="meal_item">Fish with Kaloo</p>
									<p class="meal_item">Date: 19/08/23</p>
									<button class="meal_item">Edit</button>
								</div>

							</div>

						</div>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Book A Meal Uganda. Developed: <a href="#">Andela Bootcamp VII</a>.</p>
					</footer>

			</div>


		<!-- SCRIPTS -->
		<script src="../js/book_a_meal.js"></script>
		<script>
			
			document.getElementById('menu_of_the_day_button').onclick = menuOfTheDay;
			document.getElementById('order_history_button').onclick = customerOrderHistory;


		</script>


	</body>
</html>

