<!DOCTYPE HTML>

<html>

	<head>
		<title>BookAMeal</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/book_a_meal.css') }}" />
	</head>

	<body>

		<!-- Wrapper -->
			<div id="app_wrapper">

				<!-- Header -->
					<header id="header">
						<div class="content">
							<div class="app_name header_item">
								<h1>Book A Meal</h1>
							</div>

							<div class="user_details header_item">
								<p class="header_item">Demarks restaurant</p>
								<button class="header_item">Logout</button>
							</div>

						</div>
					</header>

				<!-- Main -->
					<div id="main_block">

						<div class="details_block">

							<h3>Order History</h3>

							<!-- ORDERS HISTORY WITH TOTAL AMOUNT MADE -->
							<div id="orders_history_block" class="admin_actions">
								
								<h3>Order History</h3>

								<div>
									<label for="time-period">Time Period</label>
									<select name="time-period" id="time-period">
										<option value="">-</option>
										<option value="1">Today</option>
										<option value="2">Yesterday</option>
										<option value="3">Past Week</option>
										<option value="4">Past Month</option>
									</select>
								</div>	

								<div class="order_item">
									<div>Customer: Iradukunda Becky</div>
									<p class="meal_item">Chicken Luwombo with Rice</p>
									<p class="meal_item">Date: 19/08/23</p>
								</div>

								<div class="order_item">
									<div>Customer: Faith Kilungi</div>
									<p class="meal_item">Kalo with Fish</p>
									<p class="meal_item">Date: 19/08/23</p>
								</div>

								<div class="order_item">
									<div>Customer: Wasswa Derick</div>
									<p class="meal_item">Beef with Matooke</p>
									<p class="meal_item">Date: 19/08/23</p>
								</div>

								<div class="order_item">
									<div>Customer: Kato Charles</div>
									<p class="meal_item">Chicken Luwombo with Matooke</p>
									<p class="meal_item">Date: 19/08/23</p>
								</div>

								<div class="order_item">
									<div>Customer: Nalumansi Sandra</div>
									<p class="meal_item">Chicken stew with Rice</p>
									<p class="meal_item">Date: 19/08/23</p>
								</div>	
							</div>

						</div>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Book A Meal Uganda. Developed: <a href="#">Andela Bootcamp VII</a>.</p>
					</footer>

			</div>

		<!-- BACKGROUND -->
			<div id="background"></div>

		<!-- Scripts -->
		<script src="{{url_for('static', filename='js/book_a_meal.js')}}"></script>
		<script>
			
			document.getElementById('manage_meals_button').onclick = meals;
			document.getElementById('menu_of_the_day_button').onclick = menuOfTheDay;

			document.getElementById('order_history_button').onclick = orderHistory;
			document.getElementById('orders_button').onclick = orders;

			document.getElementById('add_meal_to_menu').onclick = addAMeal;

		</script>


	</body>
</html>

